# ---------------------------------------------------------
# Sentry settings
# ---------------------------------------------------------
# When settings are not defined, Sentry is disabled.
# SENTRY_DSN=
# SENTRY_ENVIRONMENT=development


# ---------------------------------------------------------
# File cache settings
# ---------------------------------------------------------
# When settings are not defined, .cache directory in the project
# root is used.
# CACHE_DIRECTORY=/tmp/.cache


# ----------------------------------------------------
# Pytest settings
# ----------------------------------------------------
# Run tests offline
PYTEST_OFFLINE=false
